.app__footer{
    padding-top: 38px;
   padding-bottom: 53px;
    & .social__icon{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        padding-top: 20px;
    }
    & .copywrite{
        justify-content:center ;
        display: flex;
        padding-top: 20px;
    }
}