
$mainColor : #FA4A0C;
.list__product{

    &--item{
        padding: 10px;
        img{
            width:100%;
            height:50%;
        }
        & p{
            color:$mainColor;
        }
        & .btn__item{
            padding: 10px 20px ;
            background: #000;
            color:#fff;
        }
    }
}